<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title text-center mb-4">ジャンル一覧・作成</h4>

          <div class="card mb-3">
            <div class="card-body p-4">
              <%= render "layouts/errors", obj: @genre %>
              <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local: true do |f| %>
                <div class="input-group mb-3">
                  <span class="input-group-text"><%= f.label :name, "ジャンル名" %></span>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="d-grid gap-2 mb-4">
                <%= f.submit "更新", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>