<%= render 'layouts/errors', obj: @restaurant %>

<%= form_with model: @restaurant, url: admin_restaurant_path(@restaurant), method: :patch, local: true do |f| %>

  <div class="field">
    <%= f.label :name, "店舗名" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :genre_id, "ジャンル" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :contact_number, "電話番号" %>
    <%= f.text_field :contact_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_open_hours, "営業開始時間" %>
    <%= f.text_field :business_open_hours, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_close_hours, "営業終了時間" %>
    <%= f.text_field :business_close_hours, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :min_price, "最小価格" %>
    <%= f.text_field :min_price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :max_price, "最大価格" %>
    <%= f.text_field :max_price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :capacity, "収容人数" %>
    <%= f.text_field :capacity, autofocus: true %>
  </div>

  <div class="radio-groupe">
    <%= f.label :parking_lot, "駐車場の有無" %>
    <%= f.radio_button :parking_lot, true, id: "parking_yes" %>
    <%= f.label :parking_lot_yes, "有", for: "parking_yes" %>
    <%= f.radio_button :parking_lot, false, id: "parking_no" %>
    <%= f.label :parking_lot_no, "無", for: "parking_no" %>
  </div>

  <div id="parking_capacity_field" style="display: none;">
    <%= f.label :parking_spaces, "駐車可能台数" %>
    <%= f.text_field :parking_spaces, autofocus: true %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>