<h2>登録店舗一覧</h2>


<table class="table">

  <thead>
    <tr>
      <th>店舗名</th>
      <th>住所</th>
      <th>ジャンル</th>
      <th>価格帯</th>
    </tr>
  </thead>
  
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
          <%= link_to admin_restaurant_path(restaurant), style:"color: #000; text-decoration: underline;" do  %>
            <%= restaurant.name %>
          <% end %>
        </td>
        <td>
          <%= restaurant.address %>
        </td>
        <td>
          <%= restaurant.genre.name %>
        </td>
        <td>
          <%= restaurant.min_price %>〜<%= restaurant.max_price %>円
        </td>
      </tr>
    <% end %>
  </tbody>
</div>
