<!DOCTYPE html>
<html>
  <head>
    <title>PickEat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= link_to root_path do %>
        <%= image_tag "logo.jpg", alt: PickEat, width: 200, height: 85 %>
      <% end %>

      <nav>
        <%= render 'layouts/header' %>
      </nav>

    </header>

    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>

    <footer>

    </footer>

  </body>
</html>
